<div style="margin-bottom: 5px;">
  <div class="box-header with-border" style="margin-button:3px; background-color: #ffffff; ">
    <div class="container" style="width:100%">
      <div class="row">
        <div class="col-sm-10">
          <h5 class="relation_title">{{ relation.name }}</h5>
        </div>
        <div class="col-sm-2" style="padding:0">
          <span class="g3w-icon add-link pull-right" align="center"
                data-toggle="tooltip" data-placement="bottom"
                :title="tooltips.link_relation" @click="enableAddLinkButtons ? linkRelation() : null"
                :class="[{'disabled': !enableAddLinkButtons}, g3wtemplate.font['link']]">
          </span>
          <span data-toggle="tooltip" data-placement="bottom"
                 :title="tooltips.add_relation"
                 @click="enableAddLinkButtons ? addRelationAndLink() : null"
                 class="g3w-icon add-link pull-right"
                 :class="[{'disabled' : !enableAddLinkButtons}, g3wtemplate.font['plus']]">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body" style="padding:0;">
    <template v-if="relationsLength">
      <table class="table g3wform-relation-table table-striped">
        <thead>
          <tr>
            <th v-for="attribute in relationAttributesSubset(relations[0])">
              {{attribute.label}}
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr v-for="(relation, index) in relations" class="featurebox-header">
              <td v-show="!showAllFieds(index)" v-for="attribute in relationAttributesSubset(relation)">
                <template v-if="isMedia(attribute.value) && getValue(attribute.value)">
                  <div class="preview">
                    <a :href="getValue(attribute.value)" target="_blank">
                      <div class="previewtype" :class="getMediaType(attribute.value.mime_type).type">
                        <i class="fa-2x" :class="g3wtemplate.font[getMediaType(attribute.value.mime_type).type]"></i>
                      </div>
                    </a>
                  </div>
                </template>
                <span v-else>{{ getValue(attribute.value) }}</span>
              </td>
              <td v-show="showAllFieds(index)" :colspan="relationsAttributesSubsetLength(relation)">
                <table style="background:none !important;">
                  <tr v-for="field in relationsFields(relation)">
                    <td class="attr-label">{{field.label}}</td>
                    <td class="attr-value">
                      <span v-else>{{ getValue(field.value) }}</span>
                  </td>
                  </tr>
                </table>
              </td>
              <td class="action-cell">
                <span
                  @click="showAllRelationFields(index)"
                  style="color:#3c8dbc; cursor:pointer;" :class="g3wtemplate.font['link']"
                  :class="[showallfieldsindex == index ? g3wtemplate.font['minus'] : g3wtemplate.font['ellipsis-h'] ]">
                </span>
              </td>
              <td>
                <span
                  v-if="!fieldrequired"
                  class="g3w-mini-relation-icon g3w-icon pull-right " :class="g3wtemplate.font['unlink']"
                  @click="unlinkRelation(index)"
                  data-toggle="tooltip" data-placement="bottom" :title="tooltips.unlink_relation"
                  aria-hidden="true">
                </span>
              </td>
              <td>
                <div class="dropup" style="width: 100%">
                  <span style="width: 40px; height: 40px;"
                    data-toggle="dropdown" data-placement="bottom" :title="tooltips.open_relation_tool"
                    aria-haspopup="true" aria-expanded="false"
                    class="dropdown-toggle g3w-icon pull-right"
                    aria-hidden="true">
                    <i style="padding: 5px; padding-top: 7px;" :class="g3wtemplate.font['tools']"></i>
                  </span>
                  <div class="dropdown-menu pull-right" style="margin-bottom:5px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5) !important;" :style="{'min-width': getRelationTools().length*40 + 'px !important' }">
                    <div @click="startTool(relationtool, index)"
                         v-for="relationtool in getRelationTools()"
                         data-toggle="tooltip"
                         data-placement="bottom" :title="relationtool.state.name"
                         class="editbtn enabled" style="display:inline-block">
                      <img height="20px" width="20px" :src="resourcesurl + 'images/'+ relationtool.state.icon"/>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
    </div>
</div>
