<div style="border: 2px solid rgba(60, 141, 188, 0.1); margin-bottom: 5px; border-radius: 3px;">
  <div class="box-header with-border" style="margin-button:3px; background-color: #ffffff; ">
    <div class="col-md-8">
      <h4>{{ relation.name }}</h4>
    </div>
    <div class="col-md-4" v-show="showAddLinkButtons()">
      <i style="padding:5px; border:2px solid #3c8dbc; border-radius:20px; color:#3c8dbc; font-size: 20px; background-color: #ffffff" class="fa fa-plus pull-right" @click="addRelationAndLink" aria-hidden="true"></i>
      <i style="padding:5px; border:2px solid #3c8dbc; border-radius:25px; color:#3c8dbc; font-size: 20px; background-color: #ffffff" class="fa fa-link pull-right" @click="linkRelation" aria-hidden="true"></i>
    </div>
  </div>
  <div class="box-body"style="padding:0px;">
    <template v-if="relationsLength">
      <table class="table table-striped">
        <thead>
          <tr>
            <th v-for="attribute in relationAttributesSubset(relations[0])">
              {{attribute.label}}
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr v-for="(relation, index) in relations" class="featurebox-header">
              <td v-show="!showAllFieds(index)" v-for="attribute in relationAttributesSubset(relation)">
                <span>{{attribute.value}}</span>
              </td>
              <td v-show="showAllFieds(index)" :colspan="relationsAttributesSubsetLength(relation)">
                <table style="background:none !important;">
                  <tr v-for="field in relationsFields(relation)">
                    <td class="attr-label">{{field.label}}</td>
                    <td class="attr-value">
                      <span>{{field.value}}</span>
                  </td>
                  </tr>
                </table>
              </td>
              <td class="action-cell">
                <span @click="showAllRelationFields(index)"
                      style="color:#3c8dbc; cursor:pointer;" class="fa link morelink"
                      :class="[showallfieldsindex == index ? 'fa-minus': 'fa-ellipsis-h' ]">
                </span>
              </td>
              <td>
                <i v-if="!fieldrequired" style="color:#3c8dbc; cursor:pointer; font-size:10px; padding:5px; border:2px solid #3c8dbc; border-radius:15px;" class="fa fa-chain-broken pull-right" @click="unlinkRelation(index)" aria-hidden="true"></i>
              </td>
              <td>
                <div class="dropup">
                  <i style="color:#3c8dbc;
                      cursor:pointer; font-size:10px;
                      padding:5px; border:2px solid #3c8dbc;
                        border-radius:15px;"
                     data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false"
                     class="dropdown-toggle fa fa-cogs pull-right"
                     aria-hidden="true"></i>
                  <div class="dropdown-menu pull-right" style="margin-bottom:5px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5) !important;" :style="{'min-width': getRelationTools().length*40 + 'px !important' }">
                    <div @click="startTool(relationtool, index)" v-for="relationtool in getRelationTools()" class="editbtn enabled" style="display:inline-block">
                      <img height="20px" width="20px"
                           :alt="relationtool.state.name"
                           :title="relationtool.state.name"
                           :src="resourcesurl + 'images/'+ relationtool.state.icon"/>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
    </div>
</div>
