<template>
  <div class="pipes_wapper">
    <table style="width:100%;">
      <thead>
      <tr style="border-bottom: 2px solid;  display:flex; justify-content:space-between; align-items: baseline;" class="skin-border-color">
        <th style="padding: 5px;">
          <input id="select_all_pipes" type="checkbox" class="magic-checkbox" @change="selectUnselectAllItems">
          <label for="select_all_pipes">TUTTI</label>
        </th>
        <th style="display: flex; justify-content:flex-end; padding: 5px; align-items: baseline">
          <label for="pipes_dtm_offset">OFFSET</label>
          <input @keydown.13.stop="()=>{}" id="pipes_dtm_offset" type="number" style="width: 100px; margin-left: 5px; padding: 5px;" v-model.number="offset" :disabled="setdisabled">
          <button style="margin-left: 5px; padding: 3px; font-weight: bold" class="btn skin-button" @click="resetValues" :disabled="setdisabled">RESET</button>
        </th>
      </tr>
      </thead>
      <tbody class="editing_pipes" :style="{maxHeight: height + 'px'}" style=" overflow-y: auto; display:block;width: 100%;">
      <tr v-for="(item, index) in data" style="border-bottom: 1px solid #eeeeee; padding-bottom: 3px; display:flex; justify-content: space-between">
        <td style="margin: 2px 10px 0 5px;">
          <input type="checkbox" @keydown.13.stop="()=>{}" :id="`id_pipe_${item.index}`" class="magic-checkbox checkbox_pipe" @change="selectUnselectItem($event, index)" :index="index">
          <label :for="`id_pipe_${index}`" style="padding: 5px"></label>
        </td>
        <td align="right" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; ">
          <div v-for="pipefield in pipes.fields" :key="pipefield.index"
               style="display: flex; flex-direction: column; justify-content: flex-start; margin: 3px;max-width: 105px; ">
            <label style="text-align: left; font-size: 0.8em;">{{ pipefield.label }}</label>
            <input
              class="pipe_section"
              @keydown.13.stop="()=>{}"
              type="number" style="width: 100%; padding: 5px; font-weight: bold; margin-right: 5px"
              v-model.number="pipes.data[index][pipefield.index]"
              :disabled="pipes.data[index][pipefield.index] === undefined || selectitems.indexOf(item) === -1 ">
          </div>
          <div style="display: flex; flex-direction: column; justify-content: flex-start; margin: 3px; max-width: 105px;">
            <label  style="text-align: left; font-size: 0.8em;"v-t-plugin="'editing.form.pipes.height'"></label>
            <input
              class="pipe_height"
              @keydown.13.stop="()=>{}"
              type="number"
              @change="changeItem(item)"
              style="width: 100%; padding: 5px; font-weight: bold;  margin-right: 5px"
              v-model.number="item.value"
              :disabled="selectitems.indexOf(item) === -1">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
