<div class="toolbox">
  <div :class="{'disableddiv' : !isLayerReady }" :id="'id_toolbox_'+ state.id">
    <div @click="select" class="panel panel-primary" :class="{ 'toolboxselected': state.selected }">
      <div  class="panel-heading"  style="position:relative; height: 40px;" :style="{ background: state.color}" >
        <div v-if="father" style="margin-right:5px;display: inline-block" class="enabled dropdown">
          <img  height="20px" width="20px" class="dropbtn" data-toggle="dropdown" :src="resourcesurl + 'images/relation.png'"/>
          <div class="dropdown-content" style="padding: 5px;">
            <div v-for="dependency in state.editing.dependencies" style="color: black" >{{ dependency }}</div>
          </div>
        </div>
        <h3 class="panel-title" style="display: inline-block;">
          {{ state.title }}
        </h3>
        <div @click="toggleEditing" class="editbtn" style="position:absolute; right:0;" :class="{'enabled' : isLayerReady,  toggled : state.editing.on}" >
          <img height="20px" width="20px"  :src="resourcesurl + 'images/edit.png'"/>
        </div>
      </div>
      <div class="panel-body">
        <tool
          :state="toolstate"
          :resourcesurl="resourcesurl"
          @stopactivetool="stopActiveTool"
          @setactivetool="setActiveTool"
          v-for="toolstate in state.tools">
        </tool>
        <div class="message" style="margin-top: 5px;" :id="'id_toolbox_messages_'+ state.id">
          <div v-html="state.message"></div>
          <div v-html="state.toolmessage"></div>
          <div v-show="state.loading" >Caricamento dati  <img :src="resourcesurl + '/images/loader.svg'"></div>
        </div>
      </div>
    </div>
  </div>
</div>