<div id="editing_table" class="g3w-editing-table">
  <div class="editing_table_header">
    <h3 class="editing_table_title">{{ state.title }}</h3>
    <div class="editing_table_relation_messagge"  v-if="state.isrelation" style="font-weight: bold" v-t-plugin="'editing.relation.table.info'">
    </div>
  </div>
  <table class="display" style="width:100%">
        <thead>
          <tr>
            <th v-if="state.isrelation"></th>
            <th v-for="header in state.headers">{{ header.label }}</th>
            <th v-if="!state.isrelation"></th>
            <th v-if="!state.isrelation"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(feature, index) in state.features" :key="feature.id" :id="feature.id">
            <td v-if="state.isrelation" style="vertical-align: text-bottom;">
              <input :id="`relation__${index}`" @change="linkFeature(index, $event)" class="magic-checkbox" type="checkbox">
              <label :for="`relation__${index}`"></label>
            </td>
            <td v-if ="showValue(key)" v-for="(value, key) in feature">
              <g3w-media v-if=" getValue(value) && isMediaField(key)" :state="value"></g3w-media>
              <p v-else>{{ getValue(value) }}</p>
            </td>
            <td v-if="!state.isrelation">
              <i :class="g3wtemplate.font['trash-o']" class="g3w-icon" style="color:red;" aria-hidden="true" @click="deleteFeature(index)"></i>
            </td>
            <td v-if="!state.isrelation">
              <i :class="g3wtemplate.font['pencil']" class="g3w-icon" style="color:#008d4c;" aria-hidden="true" @click="editFeature(index)"></i>
            </td>
          </tr>
        </tbody>
      </table>
  <div id="buttons"  style="position: absolute; bottom: 10px; width: 100%; display:flex; justify-content: center;">
      <button v-t-plugin="'editing.form.buttons.save'" class="btn btn-success" style="margin-right: 10px" @click="save"></button>
      <button v-t-plugin="'editing.form.buttons.cancel'" class="btn btn-primary" @click="cancel"></button>
  </div>
</div>
